@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Fredoka:wght@300..700&family=Poppins:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body{
    font-family: 'Poppins', sans-serif;
    background-color:rgba(0, 255, 255, 0.305);
}